{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}가게부 작성하기{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">제목</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="amount">금액</label>
    <input name="amount" id="amount" value="{{ request.form['amount'] }}" required>
    <label for="body">상세내용</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}