{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}가게부{% endblock %}</h1>
  {% if session['user_id'] %}
  <a class="action" href="{{ url_for('balance.create') }}">작성하기</a>
  <a class="action" href="{{ url_for('balance.index') }}">리스트로</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">날짜: {{ post['created_at'].strftime('%Y-%m-%d') }}</div>
          <div class="about">금액: {{ post['amount'] }} 원</div>
          <div class="about">제목: {{ post['title'] }}</div>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    <form action="{{ url_for('balance.rollback', id=post['id']) }}" method="post">
      <input class="danger" type="submit" value="복구하기" onclick="return confirm('복구하시겠습니까?');">
    </form>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}